<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap" rel="stylesheet">
  
  
  <link rel="stylesheet" href="/css/game.css">
  
  <link rel="stylesheet" href="/css/style.css">
  
  <title><%= pageName %></title>
</head>
<body>
  <header></header>

  <div class="container">
    <div class="item">
      <div class="container2">
        <div class="item2">
          <div class="controls">        
            <span>
              <label for="population">Population Size </label><br>
              <input id="popul" type=range min=2 max=500 value=30 > 
              <div><span id="populOut">30</span> people</div> 
              <br>
            </span>
            <span>
              <label for="infecProb">Infection Probabilty</label><br>
              <input id="infecProb" type=range min=0 max=100 value=10 >
              <div> <span id="infecOut">10</span>%</div>
              <br>
            </span>
            <span>  
              <label for="dyingProb">Death Probabilty</label><br>
              <input id="dyingProb" type=range min=0 max=100 value=0.1 >
              <div> <span id="dyingOut">0.1</span>%</div>
              <br>
            </span>
            <span>
              <label for="recovProb">Recovery Probabilty</label><br>
              <input id="recovProb" type=range min=0 max=100 value=10 >
              <div> <span id="recovOut">10</span>%</div>
              <br>
            </span>
            
          </div>
        </div>
        <div class="item2">
          <div class="tog">
            <label class="inline-flex items-center">
              <input id="toggleEmojy" type="checkbox" class="form-checkbox h-6 w-6">
              <span class="ml-3 text-lg">Use Emojies </span>
            </label>  
          
          </div>
          <span>
            <label for="ballRadius">Ball Radius</label><br>
            <input id="ballRadius" type=range min=5 max=25 value=6 >
            <div> <span id="radiusOut">6</span></div>
            <br>
          </span>
        </div>
      </div>
      <span>
        <button id="newValue" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
          Start
        </button>
      </span>
    </div>
    <div class="item">
      <div class="gameBox">
        <div class="fixed text-black text-lg ml-2 mt-1 select-none">
          <span>Infected: </span><span id="infected">0</span>
          <span>Healthy: </span><span id="healthy">0</span>
          <span>Dead: </span><span id="dead">0</span>
          <span>Recovered: </span><span id="recovered">0</span>
        </div>    
        <canvas id="myCanvas" width= "400" ></canvas>
      </div>
    </div>  
    
    <script src="/js/game/game.js"></script>
  </div>
  <script src='https://d3js.org/d3.v4.min.js'></script>
  <footer></footer>
</body>
</html>