


body {
  font-family: 'Roboto Slab';
}

.container {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.item {
  flex: none;
  flex-basis: auto;
}

.container2 {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.item2 {
  flex: none;
  flex-basis: auto;
  text-align: center;
  margin: 20px;
  width: 200px;
  padding: 20px;
  border: solid 2px black;
}


canvas {  
  background: #eee;
  border: solid skyblue 2px;
}






@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}