/* Primary colors */
*.blue { color: #003058;}
*.lightBlue { color: #00a7e1;}
*.altBlue { color: #b6e8fb;}
/* Neutral  colors */
*.gray { color: #666666;}
*.altGray { color: #bebebe;}
*.lightGray { color: #e9e9e9;}
/* Accent colors */
*.purple { color: #b03478;}
*.violet { color: #9e79bb;}
*.green { color: #a8c628;}

.txt {
  padding: 0px 10px 0px 10px;
}

body {
  background-color: #e9e9e9;
  font-family: 'Roboto Slab';
  padding: 15px 15px 15px 15px;
  width: 70%;
  margin-left:auto;
  margin-right:auto;
}

.top {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 50px;
}
h1 {
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 42px;
}
.author {
  width: 60%;
}


ul ol li::marker {
  color: #0E6FC9
}
ul li::marker {
  color: #D2228C
}


@media screen and (max-width: 600px ) {
  body {
    width: 95%;
  }
}