
body, html {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab';
  font-weight: 500;
  font-size: 28px;
  background: #e3d0b6;
}

/* nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: rem 2rem;
  background-color: #eaeaea;
  transition: top 500ms ease-in-out;
}

nav.scroll-up,
nav:focus-within {
  top: 0;
}

nav.scroll-down {
  top: -100%;
}

.links {
  display: flex;
  margin: 0 -1em;
}

.links a {
  display: inline-block;
  margin: 0 1em;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.logo img {
  width: 5rem;
}

nav a {
  color: #0f0f0f;
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
} */
h1 {
  color: #6c3a1f;
  font-size: 36px;
}
p {
  color: #a28561;
  font-size: 28px;
  margin-top: 0;
  padding: 0 60px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: s  pace-evenly;
  align-items: center;
}

.item {
  flex: none;
  flex-basis: auto;
  flex-grow: 1;
  min-height: 500px;

  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem 1rem 1rem 1rem;
  background: #f3efe6;
  border-radius: 12px;
  transform: scale(.8);
}

.item-1 {
  order: 1;
  width: 25%;
  margin: 1rem 1re;
}
.item-2 {
  order: 3;
  width: 25%; 
}
.item-3 {
  order: 2;
  flex-grow: 2;
  min-height: 700px;
  text-align: center;
}


.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.item2 {
  flex: none;
  flex-basis: auto;
  width: 60%;
  font-size: 28px;
} 

.score {
  /* padding-left: 1rem; */
}

.saveButton{
  color: white;
  background: #dd794a;
  margin-top: 12px;
  cursor: pointer;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  border-radius: 9px;
  border: none;
  width: 72%;
  padding: 12px 0;
  transition: 150ms ease-out;
  }
.saveButton:hover{
  background: #d66029;
}
@media all and (max-width:30em){
  .saveButton{
    /* display:block;
    margin:0.2em auto; */
  }
} */




/* 

@media screen and (max-width: 800px) {
  .container {
    justify-content: space-evenly;
    align-items: center;
  }
  .intro {
    padding-left: 2rem;
  }
}